.register__content {
  text-align: center;
  max-width: 100vw;
}

.register__content-inner {
  background-color: #ffff;
  margin: 0 450px ;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #aaaaaa;
}

.register-form__heading {
  color: #ffffff;
  background-color: #3584bb;
  padding: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form__group-content {
  padding: 5px;
}

.form__input--text {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  border-bottom: 3px solid #ddd;
}

.form__group {
  padding: 20px;
}

.form__button {
  padding-top: 10px;
  text-align: right;
  width: 100%;
}

.form__button-submit {
  padding: 5px;
  width: 0 auto;
  border: none;
  border-radius: 3px;
  background: #3584bb;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}